h1 {
	text-align: center;
	color: darkgreen;
}

h2 {
	text-align: center;
	color: lightgreen;
}

ul.team-member-list {
	text-align: center;
	list-style-type: none;
}

li {
	text-align: center;
}

.container {
	margin: auto;
	width: 50%;
}

body {
	background-image: none;
}
